* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    background-color: black;
}

.container {
    width: 1300px;
    margin: 0 auto;
    background-color: black;
}

.logo,
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    position: absolute;
    right: 100px;
    top: 4px;
}

.link {
    color: white;
    position: relative;
    display: inline-block;
}

.link:hover {
    color: #0071e3;
    transition: 0.3s;
}

.link::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -2px;
    height: 2px;
    background-color: currentColor;
    transition: left 0.3s ease, right 0.3s ease, background-color 0.3s ease;
}

.link:hover::after {
    left: 0;
    right: 0;
}

.title {
    padding: 50px 0 1px 0;
    font-size: 55px;
    color: white;
    text-align: center;
}

.text {
    width: 60%;
    margin: 0 auto;
    font-size: 25px;
    color: #6E6E73;
    text-align: center;
}

.link1 {
    padding-top: 15px;
    color: #2997FF;
    position: relative;
    display: inline-block;
}

.link1:hover {
    color: rebeccapurple;
    transition: 0.3s;
}

.link1::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -2px;
    height: 2px;
    background-color: currentColor;
    transition: left 0.3s ease, right 0.3s ease, background-color 0.3s ease;
}

.link1:hover::after {
    left: 0;
    right: 0;
}
